In [1]:
%run 1.Functions.ipynb
#%run Old_Functions.ipynb

In [2]:
Ideals = []
for i in range(x1,x2):
    with open(path_ideals + 'Ideal{}.pickle'.format(i), 'rb') as handle:
        I = pickle.load(handle)
        Ideals.append(I)

In [3]:
Output2 = []
for I in tqdm.tqdm(Ideals):
    Output2.append(Method2(I))

100%|███████████████████████████████████████| 2000/2000 [47:29<00:00,  1.42s/it]

In [7]:
df = pd.DataFrame(columns = ["output"])
for i in tqdm.tqdm(range(len(Output2))):
    df.loc[len(df.index)] = Output2[i]

100%|██████████████████████████████████████| 2000/2000 [00:02<00:00, 987.54it/s]

In [8]:
display(df)

     output
0         5
1         4
2         6
3         2
4         4
...     ...
1995      4
1996      6
1997      6
1998      4
1999      2

[2000 rows x 1 columns]

In [9]:
df.to_csv(path_dataset + '{}_output2.csv'.format(N))

Output4 = []
for I in tqdm.tqdm(Ideals):
    Output4.append(Method4(I))

df = pd.DataFrame(columns = ["output2"])
for i in range(len(Output4)):
    df.loc[len(df.index)] = Output4[i]

display(df)

df.to_csv('output4.csv')